@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  /* --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%); */
  /* --gradient-text2: linear-gradient(#f32170,#ffeb07,#2193f3,#ff00eb);
  --gradient-text:linear-gradient(89.97deg, #e7b5e3 1.84%, #9b1161 102.67%);;
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%); */
  --gradient-text2: linear-gradient(#f32170,#ffeb07,#2193f3,#ff00eb);
  --gradient-text:linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
  --gradient-bar: linear-gradient(to right, rgb(255, 65, 108), rgb(255, 75, 43));
  
  
  --color-bg: #040C18;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}